<!DOCTYPE html>
<html>
<head>
  <title><%= manageable_layout_content_for :blog_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Blog Layout</h1>
<%= yield %>

</body>
</html>