<!DOCTYPE html>
<html>
<head>
  <title><%= manageable_layout_content_for :title %> <%= manageable_content_for :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Blog Layout</h1>
<div id="keywords"><%= manageable_layout_content_for :keywords %> <%= manageable_content_for :keywords %></div>
<%= yield %>

</body>
</html>